<section>
        <h1>Insert Channel</h1>
        <form action="/CreateChannel" method="POST">
        <input type="text" name="name_channel" placeholder="Name Channel" class="usuario" id="usuario"  required="required">
      
      
      <button class="btnaceptLo" name="aceptar" value="Aceptar" onclick="" >Create Channel</button>
      {{#if message}}
      <p> {{message}}</p>
       {{/if}}
      
        
       <p class="message" id="message"></p>
        </form>
        <div><a href="/getChannels"><button class="btnaceptLo" name="invitado" value="Aceptar" onclick="" >volver</button></a></div>
    </section>