<div class="row">

  <div class="col-md-4">
    <form action="/CreateMessage" method="POST" class="card card-body">
      <div class="form-group">
          <input type="hidden"  value="{{ChannelSid}}"  name="ChannelSid">
           <input type="hidden"  value="{{name_user}}" name="name_user">
          <label  for="">Bienvenido:{{name_user}} </label>

        <input type="text" name="message" placeholder="Write your message" class="form-control" required="required" autofocus >
      </div>
     
      <button class="btn btn-primary btn-block">
        Send
      </button>
    </form>
   <div><a href="/mainInvitado"><button class="btnaceptLo" name="invitado" value="Aceptar" onclick="" >volver</button></a></div>
  </div>


  <div class="col-md-8">
    <div class="card card-body">
        <p class="card-text"> <em><a href="/actualizarMessages/{{ChannelSid}}/{{name_user}}">Actualizar</a></em></p>
    </div>
    {{#if messages}}
    <ul class="list-group" style="height: 70vh; overflow-y: auto;" id="messages">
      {{#each messages}}
       {{#each this}}
       
              {{#if channel_sid}}
      <li class="list-group-item list-group-item-info list-group-item-action">
        <p>Fecha: {{date_created}}</p>
        <p>Message: {{body}}</p>
        <span>{{from}}</span>
      </li>
      {{/if}}
      {{/each}}
          {{/each}}
    </ul>
    {{else}}
    <p>No messages yet</p>
    {{/if}}
  </div>

</div>



  <div class="col-md-8">
    <div class="card card-body">
       <p class="card-text">Memebers: <em></em></p>
    </div>
    {{#if members}}
    <ul class="list-group" style="height: 70vh; overflow-y: auto;" id="messages">
      {{#each members}}
       {{#each this}}
              {{#if identity}}
      <li class="list-group-item list-group-item-info list-group-item-action">
        <p>SID: {{sid}}</p>
        <p>Name: {{identity}}</p>
        <span>{{from}}</span>
      </li>
      {{/if}}
      {{/each}}
          {{/each}}
    </ul>
    {{else}}
    <p>No member yet</p>
    {{/if}}
  </div>

</div>