

<section>
        <h1>Edite Channel</h1>
        <form action="/UpdateChannel" method="POST">
        <input type="hidden" value="{{id_channel}}" name="id_channel" id="">
        <input type="text" name="name_channel" placeholder="Name Channel" class="usuario" id="usuario" value="{{name_channel}}" required="required">
      
      <button class="btnaceptLo" name="aceptar" value="Aceptar" onclick="" >Update Channel</button>
      {{#if message}}
      <p> {{message}}</p>
       {{/if}}
       <p class="message" id="message"></p>
        </form>
        <div><a href="/getChannels"><button class="btnaceptLo" name="invitado" value="Aceptar" onclick="" >volver</button></a></div>
    </section>


    