
    
       <h1>Service: BALLENITAS</h1>
       <div><a href="/addChannel"><button class="btnaceptLo" name="invitado" value="Aceptar" onclick="" >+ NewChannel</button>
       <a href="/"><button class="btnaceptLo" name="invitado" value="Aceptar" onclick="" >X Salir</button>
       
       </a></div>

<table class="table table-striped table-dark">
  <thead>
    <tr>
     
      <th scope="col">SID</th>
      <th scope="col">Friendly Name</th>
        <th scope="col">Actions</th>
    
    </tr>
  </thead>
  <tbody>
    
     {{#if dato}}
    {{#each dato}}
        {{#each this}}
          {{#if friendly_name}}
    <tr>
            <td>{{sid}}</td>
             <td>{{friendly_name}}</td>
             <td>
             <td><a href="/editChannel/{{sid}}/{{friendly_name}}"><button>Update</button></a>
               <td><button  type="button"class="btn btn-primary"data-toggle="modal"data-target="#exampleModal{{sid}}">Delete</button>

            <!-- Button trigger modal -->




<!-- Modal -->
<div class="modal fade" id="exampleModal{{sid}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Channel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>{{friendly_name}}</h1>
             <form action="/DeleteChannel" method="POST">
      <div class="form-group">
        <input type="hidden" class="form-control" name="ChannelSid" placeholder="" value="{{sid}}" id="">
         <h6 class="modal-title" id="exampleModalLabel">Realmente quiere eliminar este Channel?</h6>

        <input type="submit"  class="btn btn-primary" value="Delete">

    </div>
     </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  
      </div>
     
    </div>
  </div>
</div>

             </td>
    </tr>
             {{/if}}
              {{/each}}
               {{/each}}
 
      
               {{else}}
             <p>No hay Channels</p>
            {{/if}}
  </tbody>
</table>

