<section>
        <h1>Invitado</h1>
        <form action="/mainInvitado" method="POST">
        <input type="text" name="user" placeholder="Username" class="usuario" id="usuario">    
      <button class="btnaceptLo" name="aceptar" value="Aceptar" onclick="" >Pass</button>
      {{#if message}}
      <p> {{message}}</p>
       {{/if}}
      
        
       <p class="message" id="message"></p>
        </form>
    </section>