<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="server/controllers/login.js"></script>
    <link rel="stylesheet" href="css/style.css"></link>

</head>
<body>
    <section>
        <h1>Login</h1>
        <form action="/send-login" method="POST">
        <input type="text" name="usern" placeholder="Username" class="usuario" id="usuario"  required="required">
        <input type="password" name="passw" placeholder="password" class="contra" id="contra"  required="required">
      
      <button class="btnaceptLo" name="aceptar" value="Aceptar" onclick="" >Sing Up</button>
      {{#if message}}
      <p> {{message}}</p>
       {{/if}}
      
        
       <p class="message" id="message"></p>
        </form>
        <div><a href="/mainInvitado"><button class="btnaceptLo" name="invitado" value="Aceptar" onclick="" >Unirse como invitado</button></a></div>
    </section>
    
</body>
</html>