body{

    margin:0;
    padding:0;
    text-align: center;
}
a{
  text-decoration: none;
}
/* Header */

header {
    /*border-bottom: 2px solid #eee;*/
    padding: 10px 0;
    margin-bottom: 20px;
    width: 100%;
    /*height: 70px;*/
  /*  text-align: center;*/

} 
 
 /*Section*/
 section{
    position: relative;
        top: 120px;
    }
    /* Input Forms*/
    .usuario, .contra{
        outline: none;
        padding: 20px;
        display: block; /*se muestre uno debajo del otro*/
        width: 300px;
        border-radius: 3px;
        border: 1px solid #eee;
        margin: 20px auto;
      }
     .btnaceptLo {
        padding: 10px;
        color: #fff;
        background: rgb(15, 2, 2);
    
        width: 320px;
        margin: 20px auto;
        margin-top: 0;
        border: 0;
        border-radius: 3px;
        cursor: pointer;
      }
      .btnaceptLo:hover {
        background: rgb(54, 49, 49);
      }